doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="E-Shop - Your Ultimate Online Store for Quality Products")
    meta(name="theme-color" content="#0b1f36")
    title E-Shop - Your Ultimate Online Store
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/responsive.css")

  body
    include partials/header

    main
      block content

    include partials/footer
